<section class="generic_page"> 
	<h1><%= t :deals_title %></h1> 
	
	<h1><%= t :deals_intro %></h1>


	<%	@aubaines.each do |aubaine| %>
		<h2><%= aubaine.titre.html_safe %></h2> 
		<p><%= image_tag aubaine.image.url(:medium) %></p>
		<p><%= nl2br(aubaine.texte).html_safe %></p> 
	<% end %>
	
</section>