


<ul class="menu_header  menu_black">
       
    
	<!-- ************************************** -->    
	<!-- ************* HOME ******************* -->
	<!-- ************************************** -->
    <li id="home"><%= link_to((t :home), root_path) %></li>


	<!-- ************************************** -->    
	<!-- ************* ABOUT ****************** -->
	<!-- ************************************** -->
    <li id="about"><%= link_to((t :about), apropos_path, :class => "drop") %>
    	<div class="dropdown_1column" id="menu_about">
        	<div class="col_1 firstcolumn">
				<h3><%=t :company%></h3>
                <ul class="levels">
                	<li><a href="#"><%=t :history%></a></li>
                    <li><a href="#"><%=t :team%></a></li>
                    <li><a href="#"><%=t :partners%></a></li>
                </ul>    
            </div>
        </div>
	</li>


	<!-- ************************************** -->    
	<!-- ************* PRODUCTS *************** -->
	<!-- ************************************** -->
    <li id="products"><%= link_to((t :products), produits_path, :class => "drop") %>
    	<div class="dropdown_2columns align_center"  id="menu_products">
            <h3><%=t :list%></h3>
        	<div class="col_1 firstcolumn">
            	<ul>
                	<li><a href="http://www.amx.com/" target="_blank">AMX</a></li>
					<li><a href="http://www.vantagecontrols.com/" target="_blank">Vantage</a></li>
                    <li><a href="http://www.linn.co.uk/" target="_blank">Linn</a></li>
                    <li><a href="http://www.marantz.com/" target="_blank">Marantz</a></li>
					<li><a href="http://www.speakercraft.com/" target="_blank">Speakercraft</a></li>
					<li><a href="http://www.panamax.com/" target="_blank">Panamax</a></li>
					<li><a href="http://cambridgeaudio.com/" target="_blank">Cambridge</a></li>
					<li><a href="http://www.tivoliaudio.com/" target="_blank">Tivoli</a></li>
					<li><a href="http://www.anthemav.com/" target="_blank">Anthem</a></li>
					<li><a href="http://www.gradolabs.com/" target="_blank">Grado</a></li>
                    <li><a href="http://www.sennheiser.ca/live/" target="_blank">Sennheiser</a></li>
                    <li><a href="http://www.dali-speakers.com/" target="_blank">Dali</a></li>
					<li><a href="http://www.dynaudio.com/int/index.php" target="_blank">Dynaudio</a></li>
					<li><a href="http://www.paradigm.com/" target="_blank">Paradigm</a></li>
					<li><a href="http://home.jlaudio.com/" target="_blank">JL Audio</a></li>
										
                </ul>   
         	</div>
            <div class="col_1">
            	<ul>
                	<li><a href="http://www.simaudio.com/" target="_blank">Moon</a></li>
	                <li><a href="http://www.audioquest.com/" target="_blank">Audioquest</a></li>
	                <li><a href="http://www.stewartfilm.com/" target="_blank">Stewart</a></li>
	                <li><a href="http://www.bello.com/" target="_blank">Bello</a></li>
					<li><a href="http://www.sharp.ca/" target="_blank">Sharp</a></li>
					<li><a href="https://panasonic.ca/french/homepage.asp" target="_blank">Panasonic</a></li>
	                <li><a href="http://www.runco.com/" target="_blank">Runco</a></li>
	                <li><a href="http://www.draperinc.com/index.asp" target="_blank">Draper</a></li>
	                <li><a href="http://control4.com/" target="_blank">Control4</a></li>
					<li><a href="http://www.middleatlantic.com/" target="_blank">Middle Atlantic</a></li>
	                <li><a href="http://www.salamanderdesigns.com/" target="_blank">Salamender Designs</a></li>
	                <li><a href="http://www.bdiusa.com/" target="_blank">BDI</a></li>
	                <li><a href="http://www.dinec.com/accueil.asp" target="_blank">Dinec</a></li>
					<li><a href="http://www.universalremote.com/" target="_blank">URC</a></li>

                 </ul>   
          	</div>
    	</div>
	</li>
	
		
	
	<!-- ************************************** -->    
	<!-- ************* AUTOMATION ************* -->
	<!-- ************************************** -->   
    <li id="automation"><%= link_to((t :automation), automatisation_path, :class => "drop") %>
		<div class="dropdown_1column" id="menu_automation">
			<div class="col_1 firstcolumn">
				<ul class="levels">
					<h3><%=t :automation%></h3>
                    <li><a href="#"><%=t :amx%></a></li>
					<li><a href="#">Vantage</a></li>
					<li><a href="#"><h3>Expertise</h3></a></li>
                    <li><a href="#"><h3><%=t :new_products%></h3></a></li>
					<li><a href="#"><h3><%=t :guarantee%></h3></a></li>
					<li><a href="#"><h3><%=t :work%></h3></a></li>
              	</ul>   
			</div>
		</div>
 	</li>


	<!-- ************************************** -->    
	<!-- **************** CONTACT  ************ -->
	<!-- ************************************** -->    
    <li id="contact"><a href="#" class="drop"><%=t :contact%></a>
    	<div class="dropdown_2columns"  id="menu_contact">
        	<div class="col_2 firstcolumn">
            	<h3><%=t :contact_us%></h3>
				<p><%=t :fill%></p>
    			<div id="contact_form">
                	<div class="message">
                    	<div id="alert"></div>
                    </div>
                 	<form method="post" action="http://neos-interactive.com/form/contact.php" id="contactForm">
                        <label for="name"><%=t :name%><span class="required"> *</span></label>
                        <input name="name" type="text" id="name" size="30" value="" autocomplete="off" /> 
                        <br />
                        <label for="email">Email<span class="required"> *</span></label>
                        <input name="email" type="text" id="email" size="30" value="" autocomplete="off" />
                        <br />
                        <label for="message">Message<span class="required"> *</span></label>
                        <textarea name="message" cols="40" rows="3"  id="message"></textarea>
                        <p class="special"><label for="last"><%=t :dontfill%></label><input type="text" name="last" value="" id="last" /></p>
                        <div class="form_buttons">
                        	<input type="submit" class="button" id="submit" value="<%=t :submit%>" />
                        	<input type="reset" class="button" id="reset" value="<%=t :reset%>" />
                        </div>
                	</form>
             	</div>
        	</div>
           	<div class="col_2 firstcolumn">
            	<h3><%=t :follow_us%></h3>
                <ul class="social">
                	<li><a href="http://twitter.com/#!/BrosseauAVS" target="_blank"><img src='/stylesheets/img/twitter.png' alt="Twitter" /><span>Twitter</span></a></li>
                    <li><a href="https://www.facebook.com/pages/Brosseau-Audio-Video-Services/122812097826905" target="_blank"><img src='/stylesheets/img/facebook.png' alt="Facebook"/><span>Facebook</span></a></li>
                </ul>
           	</div>
    	</div>
	</li>
	

</ul>
