


<ul class="menu_header  menu_black">
       
    
	<!-- ************************************** -->    
	<!-- ************* HOME ******************* -->
	<!-- ************************************** -->
    <li id="home"><%= link_to((t :home), home_path) %></li>


	<!-- ************************************** -->    
	<!-- ************* ABOUT ****************** -->
	<!-- ************************************** -->
    <li id="about"><%= link_to((t :about), apropos_path, :class => "drop") %>
    	<div class="dropdown_1column" id="menu_about">
        	<div class="col_1 firstcolumn">
				<h3><%=t :about_company%></h3>
                <ul class="levels">
                	<li><%= link_to((t :company), entreprise_path)%></li>
					<li><%= link_to((t :team), equipe_path)%></li>
                </ul>    
            </div>
        </div>
	</li>


	<!-- ************************************** -->    
	<!-- ************* PRODUCTS *************** -->
	<!-- ************************************** -->
    <li id="products"><%= link_to((t :products), produits_path, :class => "drop") %>
    	<div class="dropdown_2columns align_center"  id="menu_products">
            <h3><%=t :list%></h3>
        	<div class="col_1 firstcolumn">
            	<ul>
                	<li><%= link_to("AMX", produits_path(:anchor => "amx")) %></li>
					<li><%= link_to("Vantage", produits_path(:anchor => "vantage")) %></li>
					<li><%= link_to("Linn", produits_path(:anchor => "linn")) %></li>
					<li><%= link_to("Marantz", produits_path(:anchor => "marantz")) %></li>
					<li><%= link_to("Speakercraft", produits_path(:anchor => "speakercraft")) %></li>
					<li><%= link_to("Panamax", produits_path(:anchor => "panamax")) %></li>
					<li><%= link_to("Cambridge", produits_path(:anchor => "cambridge")) %></li>
					<li><%= link_to("Tivoli", produits_path(:anchor => "tivoli")) %></li>
					<li><%= link_to("Anthem", produits_path(:anchor => "anthem")) %></li>
					<li><%= link_to("Grado", produits_path(:anchor => "grado")) %></li>
					<li><%= link_to("Sennheiser", produits_path(:anchor => "sennheiser")) %></li>
					<li><%= link_to("Dali", produits_path(:anchor => "dali")) %></li>
					<li><%= link_to("Dynaudio", produits_path(:anchor => "dynaudio")) %></li>
					<li><%= link_to("Paradigm", produits_path(:anchor => "paradigm")) %></li>
					<li><%= link_to("JL Audio", produits_path(:anchor => "jl_audio")) %></li>					
                </ul>   
         	</div>
            <div class="col_1">
            	<ul>
					<li><%= link_to("Moon", produits_path(:anchor => "moon")) %></li>
					<li><%= link_to("Audioquest", produits_path(:anchor => "audioquest")) %></li>
					<li><%= link_to("Stewart", produits_path(:anchor => "stewart")) %></li>
					<li><%= link_to("Bello", produits_path(:anchor => "bello")) %></li>
					<li><%= link_to("Sharp", produits_path(:anchor => "sharp")) %></li>
					<li><%= link_to("Panasonic", produits_path(:anchor => "panasonic")) %></li>
					<li><%= link_to("Draper", produits_path(:anchor => "draper")) %></li>
					<li><%= link_to("Runco", produits_path(:anchor => "runco")) %></li>
					<li><%= link_to("Control4", produits_path(:anchor => "control4")) %></li>
					<li><%= link_to("Middle Atlantic", produits_path(:anchor => "middle_atlantic")) %></li>
					<li><%= link_to("Salamender Designs", produits_path(:anchor => "salamender_designs")) %></li>
					<li><%= link_to("BDI", produits_path(:anchor => "bdi")) %></li>
					<li><%= link_to("Dinec", produits_path(:anchor => "dinec")) %></li>
					<li><%= link_to("URC", produits_path(:anchor => "urc")) %></li>	

                 </ul>   
          	</div>
    	</div>
	</li>
	
		
	
	<!-- ************************************** -->    
	<!-- ************* AUTOMATION ************* -->
	<!-- ************************************** -->   
    <li id="automation"><%= link_to((t :professional), commercial_path, :class => "drop") %>
		<div class="dropdown_1column" id="menu_automation">
			<div class="col_1 firstcolumn">
				<ul class="levels">
					<h3><%=t :professional%></h3>
					<li><a href="#">Hotel</a></li>
					<li><a href="#">Restaurant</a></li>					
					<li><a href="#">Bar / Pub</a></li>								
                    <li><a href="#"><%=t :retail_store%></a></li>
                    <li><a href="#"><%=t :pro_offices%></a></li>
                    <li><a href="#"><%=t :surveillance_room%></a></li>
                    <li><a href="#"><%=t :conference_room%></a></li>
                    <li><a href="#"><%=t :audio_system%></a></li>
                    <li><a href="#"><%=t :ambient_music%></a></li>
                    <li><a href="#"><%=t :home_automation%></a></li>
                    <li><a href="#"><%=t :video_wall%></a></li>
                    <li><a href="#"><%=t :video_projectors%></a></li>
                    <li><a href="#"><%=t :screens_interactive%></a></li>
                    <li><a href="#"><%=t :screens_sport%></a></li>
                    <li><a href="#"><%=t :screens_ad%></a></li>
                    <li><a href="#"><%=t :visual_pres%></a></li>
                    <li><a href="#"><%=t :store_window%></a></li>
                    <li><a href="#"><%=t :cinema%></a></li>
              	</ul>   
			</div>
		</div>
 	</li>


	<!-- ************************************** -->    
	<!-- **************** CONTACT  ************ -->
	<!-- ************************************** -->    
    <li id="contact"><a href="#" class="drop"><%=t :contact%></a>
    	<div class="dropdown_2columns"  id="menu_contact">
        	<div class="col_2 firstcolumn">
            	<h3><%=t :contact_us%></h3>
				<p><%=t :fill%></p>
    			<div id="contact_form">
                	<div class="message">
                    	<div id="alert"></div>
                    </div>
                 	<form method="post" action="http://neos-interactive.com/form/contact.php" id="contactForm">
                        <label for="name"><%=t :name%><span class="required"> *</span></label>
                        <input name="name" type="text" id="name" size="20" value="" autocomplete="off" /> 
                        <br />
                        <label for="email">Email<span class="required"> *</span></label>
                        <input name="email" type="text" id="email" size="20" value="" autocomplete="off" />
                        <br />
                        <label for="message">Message<span class="required"> *</span></label>
                        <textarea name="message" cols="100" rows="8"  id="message"></textarea>
                        <p class="special"><label for="last"><%=t :dontfill%></label><input type="text" name="last" value="" id="last" /></p>
                        <div class="form_buttons">
                        	<input type="submit" class="button" id="submit" value="<%=t :submit%>" />
                        	<input type="reset" class="button" id="reset" value="<%=t :reset%>" />
                        </div>
                	</form>
             	</div>
				<div style="float:right; padding-left:20px;">
					<section id="ft_contact">
					<h3><%=t :find_us%></h3>
					<p>
							3256 Grande Allée<br />
							St-Hubert (Longueuil)<br />
							Qc Canada
					</p>
					<a href="http://g.co/maps/9pr7b" target="_blank" title="Google Maps" id="maps"></a>
					</section>
				</div>
				<h3 style="margin-bottom:5px"><%=t :hours%></h3>
				<h4 style="margin-bottom:10px"><%=t :hours_period%></h4>
				<p style="width:250px">
					<%=t :monday%> <span style="float:right; font-weight:bold"><%=t :hour1%></span><br />
					<%=t :tuesday%> <span style="float:right;font-weight:bold"><%=t :hour1%></span><br />
					<%=t :wednesday%> <span style="float:right; font-weight:bold"><%=t :hour1%></span><br />
					<%=t :thursday%> <span style="float:right;  font-weight:bold"><%=t :hour2%></span><br />
					<%=t :friday%> <span style="float:right;  font-weight:bold"><%=t :hour2%></span><br />
					<%=t :saturday%> <span style="float:right;  font-weight:bold"><%=t :hour3%></span><br />
					<%=t :rdv%>
				</p>																				
        	</div>
           	<div class="col_2 firstcolumn">
            	<h3><%=t :follow_us%></h3>
                <ul class="social">
                	<li><a href="http://twitter.com/#!/BrosseauAVS" target="_blank"><img src='/stylesheets/img/twitter.png' alt="Twitter" /><span>Twitter</span></a></li>
                    <li><a href="https://www.facebook.com/pages/Brosseau-Audio-Video-Services/122812097826905" target="_blank"><img src='/stylesheets/img/facebook.png' alt="Facebook"/><span>Facebook</span></a></li>
                </ul>
           	</div>
    	</div>
	</li>
	

</ul>
