 

<!-- SCROLLER -->
<div id="menuWrapper" class="menuWrapper bg1">
        <ul class="menu" id="menu">
            <li>
                <a id="bg1" href=""></a>
            </li>
            <li  style="background-position:-321px 0px;">
               <a id="bg2" href=""></a>
           </li>
            <li class="last bg1" style="background-position:-642px 0px;">
                <a id="bg3" href=""></a>
            </li>
        </ul>
</div>
<!-- SCROLLER END -->	
	
	
	
<!-- SCROLLER MENU -->	
<section id="scroller_home">
        <ul id="central_home_menu">
			<li class="bg1" id="bt_audio">
				<a href="" id="link_audio_menu">
					<div id="menu_blue">
						<div id="menu_blue_image"></div>
						<h1 id="central_menu_title_audio"><%=t :audio_title%></h1>
						<p id="txt_audio">
							<%=t :hifi%><br />
							<%=t :multi_room%><br />
							<%=t :speakers%><br />
							<%=t :acoustic%>															
						</p>
					</div>
				</a>
			</li>
			<li id="bt_video">
				<a href="" id="link_video_menu">
					<div id="menu_green">
						<div id="menu_green_image"></div>
						<h1 id="central_menu_title_video"><%=t :video_title%></h1>
						<p id="txt_video">
							<%=t :home_cinema%><br />
							<%=t :tv3d%><br />
							<%=t :conference%><br />
							<%=t :surveillance%>															
						</p>
					</div>
				</a>
			</li>	
			<li id="bt_automation">
				<a href="" id="link_automation_menu">
					<div id="menu_violet">
						<div id="menu_violet_image"></div>
						<h1 id="central_menu_title_automation"><%=t :automation_title%></h1>
						<p id="txt_automation">
								<%=t :ligthing%><br />
								<%=t :automation%><br />
								<%=t :multi_room%><br />
								<%=t :acoustic%>															
						</p>
					</div>
				</a>
			</li>
         </ul>
</section>
<!-- SCROLLER MENU END -->



<!-- MIDDLE PAGE -->		
<section id="body_home_section">
	<div id="body_home">
		
		<!-- NEWS FLASH -->	
		<article id="news_flash">
			<h1><%=t :news%></h1>
			<p>
				<%=t :news_test_1%>
			</p>
		</article>
		<!-- NEWS FLASH END -->
		
		<!-- NEW PRODUCTS -->	
		<article id="new_product">
			
		</article>
		<!-- NEW PRODUCTS END -->
		
		
		<!-- EXPERT'S ADVICE -->
		<article id="expert">
		</article>
		<!-- EXPERT'S ADVICE END -->		
		
		<!-- OUR BRANDS -->
		<article id="brands">
			<h1><%=t :our_brands%></h1>
		<!--	<div id="slider">
				<ul>				
					<li><img src="images/clients/ac.png" alt="Atlantique Conseils" />
						<img src="images/clients/am.png" alt="Action Missionnaire" />
						<img src="images/clients/ei.png" alt="Espaces Interieurs" /></li>

					<li><img src="images/clients/gi.png" alt="GI Informatique" />
						<img src="images/clients/gites.png" alt="Gites et Vins de Bordeaux" />
						<img src="images/clients/gl.png" alt="Grand Large Immobilier" /></li>
				
					<li><img src="images/clients/latour.png" alt="Chateau Latour Ségur" />
						<img src="images/clients/onglerie.png" alt="Des Ongles pour Tous" />
						<img src="images/clients/gi.png" alt="GI Informatique" /></li>
					
				</ul>
			</div>-->
		</article>
		<!-- OUR BRANDS END -->
		
	</div>
</section>
<!-- MIDDLE PAGE END -->
