 
<div id="menuWrapper" class="menuWrapper bg1">
        <ul class="menu" id="menu">
            <li>
                <a id="bg1" href=""></a>
            </li>
            <li  style="background-position:-321px 0px;">
               <a id="bg2" href=""></a>
           </li>
            <li class="last bg1" style="background-position:-642px 0px;">
                <a id="bg3" href=""></a>
            </li>
        </ul>
    </div>





<section>
        <ul id="central_home_menu">
			<li class="bg1" id="bt_audio">
				<a href="" id="link_audio_menu">
					<div id="menu_blue">
						<div id="menu_blue_image"></div>
						<h1 id="central_menu_title_audio"><%=t :audio_title%></h1>
						<p id="txt_audio">
							<%=t :hifi%><br />
							<%=t :multi_room%><br />
							<%=t :speakers%><br />
							<%=t :acoustic%>															
						</p>
					</div>
				</a>
			</li>
			<li id="bt_video">
				<a href="" id="link_video_menu">
					<div id="menu_green">
						<div id="menu_green_image"></div>
						<h1 id="central_menu_title_video"><%=t :video_title%></h1>
						<p id="txt_video">
							<%=t :home_cinema%><br />
							<%=t :tv3d%><br />
							<%=t :conference%><br />
							<%=t :surveillance%>															
						</p>
					</div>
				</a>
			</li>	
			<li id="bt_automation">
				<a href="" id="link_automation_menu">
					<div id="menu_violet">
						<div id="menu_violet_image"></div>
						<h1 id="central_menu_title_automation"><%=t :automation_title%></h1>
						<p id="txt_automation">
								<%=t :ligthing%><br />
								<%=t :automation%><br />
								<%=t :multi_room%><br />
								<%=t :acoustic%>															
						</p>
					</div>
				</a>
			</li>
         </ul>
</section>
