 

<!-- SCROLLER -->
<div id="menuWrapper" class="menuWrapper bg1">
        <ul class="menu" id="menu">
            <li>
                <a id="bg1" href=""></a>
            </li>
            <li  style="background-position:-321px 0px;">
               <a id="bg2" href=""></a>
           </li>
            <li class="last bg1" style="background-position:-642px 0px;">
                <a id="bg3" href=""></a>
            </li>
        </ul>
</div>
<!-- SCROLLER END -->	
	
	
	
<!-- SCROLLER MENU -->	
<section id="scroller_home">
        <ul id="central_home_menu">
			<li class="bg1" id="bt_audio">
				<a href="" id="link_audio_menu">
					<div id="menu_blue">
						<div id="menu_blue_image"></div>
						<h1 id="central_menu_title_audio"><%=t :audio_title%></h1>
						<p id="txt_audio">
							<%=t :hifi%><br />
							<%=t :multi_room%><br />
							<%=t :speakers%><br />
							<%=t :acoustic%>															
						</p>
					</div>
				</a>
			</li>
			<li id="bt_video">
				<a href="" id="link_video_menu">
					<div id="menu_green">
						<div id="menu_green_image"></div>
						<h1 id="central_menu_title_video"><%=t :video_title%></h1>
						<p id="txt_video">
							<%=t :home_cinema%><br />
							<%=t :tv3d%><br />
							<%=t :conference%><br />
							<%=t :surveillance%>															
						</p>
					</div>
				</a>
			</li>	
			<li id="bt_automation">
				<a href="" id="link_automation_menu">
					<div id="menu_violet">
						<div id="menu_violet_image"></div>
						<h1 id="central_menu_title_automation"><%=t :automation_title%></h1>
						<p id="txt_automation">
								<%=t :ligthing%><br />
								<%=t :automation%><br />
								<%=t :multi_room%><br />
								<%=t :acoustic%>															
						</p>
					</div>
				</a>
			</li>
         </ul>
</section>
<!-- SCROLLER MENU END -->



<!-- MIDDLE PAGE -->		
<section id="body_home_section">
	<div id="body_home">
		
		<!-- NEWS FLASH -->	
		<article id="news_flash">
			<h1><%=t :news%></h1>
			<div id="news_flash_content">
				<%= render 'shared/actus' %>
			</div>
		</article>
		<!-- NEWS FLASH END -->
		
		<!-- NEW PRODUCTS -->	
		<section id="new_product">
			<article>
				<img id="new_product_pic" src="images/new_product_test.png"/>
				<p id="new_product_txt">
					Marantz va lancer sur le marché
					courant  Aout son nouveau vaisseau
					amiral AV 3D SR7005
					<span id="new_product_date">
						Jul 08, 2010
					</span>
				</p>
				<a href="" id="new_product_more"><%=t :more%></a>
				<a href="" id="new_product_left"></a>
				<a href="" id="new_product_right"></a>
			</article>
		</section>
		<!-- NEW PRODUCTS END -->
		
		
		<!-- EXPERT'S ADVICE -->
		<section id="expert">
			<header>
				<h1><%=t :expert_title%></h1>
			</header>
			<article>
				<%= render 'expert' %>
				<a href="" id="expert_ask"><%=t :ask%></a>
				<%=link_to (t :share), expert_path, :id => "expert_share" %>
				<%=link_to (t :read), expert_path, :id => "expert_read" %>
				<%=link_to (t :comment), expert_path, :id => "expert_comment" %>
			</article>
		</section>
		<!-- EXPERT'S ADVICE END -->		
		
		<!-- OUR BRANDS -->
		<article id="brands">
			<div id="slider">
				<ul>				
					<li>
						<a href="http://www.amx.com/" target="_blank" id="brand_amx"></a>
						<a href="http://www.vantagecontrols.com/" target="_blank" id="brand_vantage"></a>
						<a href="http://www.mcintoshlabs.com/" target="_blank" id="brand_mcintosh"></a>
						<a href="http://www.speakercraft.com/" target="_blank" id="brand_sc"></a>
					</li>

					<li>
						<a href="http://www.sony.ca/" target="_blank" id="brand_sony"></a>
						<a href="http://www.rotel.com/" target="_blank" id="brand_rotel"></a>
						<a href="http://www.panamax.com/" target="_blank" id="brand_panamax"></a>
						<a href="http://www.martinlogan.com/" target="_blank" id="brand_ml"></a>
						
					</li>
				
					<li>
						<a href="http://www.xantech.com/" target="_blank" id="brand_xantech"></a>
						<a href="http://www.vidikron.com/" target="_blank" id="brand_vidikron"></a>
						<a href="http://www.stewartfilm.com/" target="_blank" id="brand_stewart"></a>
						<a href="http://www.linn.co.uk/" target="_blank" id="brand_linn"></a>
					</li>
					
					<li>
						<a href="http://www.bwspeakers.com/" target="_blank" id="brand_bw"></a>
						<a href="http://www.audioquest.com/" target="_blank" id="brand_audioquest"></a>
						<a href="http://www.marantz.com/" target="_blank" id="brand_marantz"></a>
						<a href="http://www.sonance.com/" target="_blank" id="brand_sonance"></a>
					</li>
					
					<li>
					<!--	<a href="http://www.schroers.de/" target="_blank" id="brand_schroers"></a> -->
						<a href="http://www.loewe.de/de/entertainment.html" target="_blank" id="brand_loewe"></a>
						<a href="http://cambridgeaudio.com/default.php" target="_blank" id="brand_cambridge"></a>
						<a href="http://www.tivoliaudio.com/" target="_blank" id="brand_tivoli"></a>
					</li>

					
				</ul>
			</div>
		</article>
		<!-- OUR BRANDS END -->
		
	</div>
</section>
<!-- MIDDLE PAGE END -->
