<section class="generic_page">
	<h1><%= t :products %></h1>
	
	<br />	<br />	<br />
	<ul id="vendors_description">
    	<li>
			<a name="amx"></a>
			<h2>AMX</h2>
			<p><%= t :product_amx_txt %></p>
			
	 		<p><%= t :product_amx_visit %> <%= link_to((t :official_site), "http://www.amx.com/", :target => "_blank") %></p>
		</li>
		<li>
			<a name="vantage"></a>
			<h2>Vantage Controls</h2>
			<p><%= t :product_vantage_txt %></p>
			
	 		<p><%= t :product_vantage_visit %> <%= link_to((t :official_site), "http://www.vantagecontrols.com/", :target => "_blank") %></p>
		</li>
		<li>
			<a name="linn"></a>
			<h2>Linn</h2>
			<p><%= t :product_linn_txt %></p>
			
	 		<p><%= t :product_linn_visit %> <%= link_to((t :official_site), "http://www.linn.co.uk/", :target => "_blank") %></p>
		</li>
		<li>
			<a name="marantz"></a>
			<h2>Marantz</h2>
			<p><%= t :product_marantz_txt %></p>
			
	 		<p><%= t :product_marantz_visit %> <%= link_to((t :official_site), "http://www.marantz.com/", :target => "_blank") %></p>
		</li>
		<li>
			<a name="speakercraft"></a>
			<h2>Speakercraft</h2>
			<p><%= t :product_speakercraft_txt %></p>
			
	 		<p><%= t :product_speakercraft_visit %> <%= link_to((t :official_site), "http://www.speakercraft.com/", :target => "_blank") %></p>
		</li>
		<li>
			<a name="panamax"></a>
			<h2>Panamax</h2>
			<p><%= t :product_panamax_txt %></p>
			
	 		<p><%= t :product_panamax_visit %> <%= link_to((t :official_site), "http://www.panamax.com/", :target => "_blank") %></p>
		</li>
		<li>
			<a name="cambridge"></a>
			<h2>Cambridge</h2>
			<p><%= t :product_cambridge_txt %></p>
			
	 		<p><%= t :product_cambridge_visit %> <%= link_to((t :official_site), "http://cambridgeaudio.com/", :target => "_blank") %></p>
		</li>
		<li>
			<a name="tivoli"></a>
			<h2>Tivoli Audio</h2>
			<p><%= t :product_tivoli_txt %></p>
			
	 		<p><%= t :product_tivoli_visit %> <%= link_to((t :official_site), "http://www.tivoliaudio.com/", :target => "_blank") %></p>
		</li>
		<li>
			<a name="anthem"></a>
			<h2>Anthem</h2>
			<p><%= t :product_anthem_txt %></p>
			
	 		<p><%= t :product_anthem_visit %> <%= link_to((t :official_site), "http://www.anthemav.com/", :target => "_blank") %></p>
		</li>
		<li>
			<a name="grado"></a>
			<h2>Grado Labs</h2>
			<p><%= t :product_grado_txt %></p>
			
	 		<p><%= t :product_grado_visit %> <%= link_to((t :official_site), "http://www.gradolabs.com/", :target => "_blank") %></p>
		</li>
		<li>
			<a name="sennheiser"></a>
			<h2>Sennheiser</h2>
			<p><%= t :product_sennheiser_txt %></p>
			
	 		<p><%= t :product_sennheiser_visit %> <%= link_to((t :official_site), "http://www.sennheiser.ca/live/", :target => "_blank") %></p>
		</li>
		<li>
			<a name="dali"></a>
			<h2>Dali</h2>
			<p><%= t :product_dali_txt %></p>
			
	 		<p><%= t :product_dali_visit %> <%= link_to((t :official_site), "http://www.dali-speakers.com/", :target => "_blank") %></p>
		</li>
		<li>
			<a name="dynaudio"></a>
			<h2>Dynaudio</h2>
			<p><%= t :product_dynaudio_txt %></p>
			
	 		<p><%= t :product_dynaudio_visit %> <%= link_to((t :official_site), "http://www.dynaudio.com/int/index.php", :target => "_blank") %></p>
		</li>
		<li>
			<a name="paradigm"></a>
			<h2>Paradigm</h2>
			<p><%= t :product_paradigm_txt %></p>
			
	 		<p><%= t :product_paradigm_visit %> <%= link_to((t :official_site), "http://www.paradigm.com/", :target => "_blank") %></p>
		</li>
		<li>
			<a name="jl_audio"></a>
			<h2>JL Audio</h2>
			<p><%= t :product_jl_audio_txt %></p>
			
	 		<p><%= t :product_jl_audio_visit %> <%= link_to((t :official_site), "http://home.jlaudio.com/", :target => "_blank") %></p>
		</li>
		<li>
			<a name="moon"></a>
			<h2>Moon</h2>
			<p><%= t :product_moon_txt %></p>
			
	 		<p><%= t :product_moon_visit %> <%= link_to((t :official_site), "http://www.simaudio.com/", :target => "_blank") %></p>
		</li>
		<li>
			<a name="audioquest"></a>
			<h2>Audioquest</h2>
			<p><%= t :product_audioquest_txt %></p>
			
	 		<p><%= t :product_audioquest_visit %> <%= link_to((t :official_site), "http://www.audioquest.com/", :target => "_blank") %></p>
		</li>
 		<li>
			<a name="stewart"></a>
			<h2>Stewart</h2>
			<p><%= t :product_stewart_txt %></p>
			
	 		<p><%= t :product_stewart_visit %> <%= link_to((t :official_site), "http://www.stewartfilm.com/", :target => "_blank") %></p>
		</li>
		<li>
			<a name="bello"></a>
			<h2>Bello</h2>
			<p><%= t :product_bello_txt %></p>
			
	 		<p><%= t :product_bello_visit %> <%= link_to((t :official_site), "http://www.bello.com/", :target => "_blank") %></p>
		</li>
		<li>
			<a name="sharp"></a>
			<h2>Sharp</h2>
			<p><%= t :product_sharp_txt %></p>
			
	 		<p><%= t :product_sharp_visit %> <%= link_to((t :official_site), "http://www.sharp.com/", :target => "_blank") %></p>
		</li>
		<li>
			<a name="panasonic"></a>
			<h2>Panasonic</h2>
			<p><%= t :product_panasonic_txt %></p>
			
	 		<p><%= t :product_panasonic_visit %> <%= link_to((t :official_site), "https://panasonic.ca/french/homepage.asp", :target => "_blank") %></p>
		</li>
		<li>
			<a name="runco"></a>
			<h2>Runco</h2>
			<p><%= t :product_runco_txt %></p>
			
	 		<p><%= t :product_runco_visit %> <%= link_to((t :official_site), "http://www.runco.com/", :target => "_blank") %></p>
		</li>
		<li>
			<a name="draper"></a>
			<h2>Draper</h2>
			<p><%= t :product_draper_txt %></p>
			
	 		<p><%= t :product_draper_visit %> <%= link_to((t :official_site), "http://www.draperinc.com/index.asp", :target => "_blank") %></p>
		</li>
		<li>
			<a name="control4"></a>
			<h2>Control4</h2>
			<p><%= t :product_control4_txt %></p>
			
	 		<p><%= t :product_control4_visit %> <%= link_to((t :official_site), "http://control4.com/", :target => "_blank") %></p>
		</li>
		<li>
			<a name="middle_atlantic"></a>
			<h2>Middle Atlantic</h2>
			<p><%= t :product_middle_atlantic_txt %></p>
			
	 		<p><%= t :product_middle_atlantic_visit %> <%= link_to((t :official_site), "http://www.middleatlantic.com/", :target => "_blank") %></p>
		</li>
		<li>
			<a name="salamander_designs"></a>
			<h2>Salamander Designs</h2>
			<p><%= t :product_salamander_designs_txt %></p>
			
	 		<p><%= t :product_salamander_designs_visit %> <%= link_to((t :official_site), "http://www.salamanderdesigns.com/", :target => "_blank") %></p>
		</li>
		<li>
			<a name="bdi"></a>
			<h2>BDI</h2>
			<p><%= t :product_bdi_txt %></p>
			
	 		<p><%= t :product_bdi_visit %> <%= link_to((t :official_site), "http://www.bdiusa.com/", :target => "_blank") %></p>
		</li>
   		<li>
			<a name="dinec"></a>
			<h2>Dinec</h2>
			<p><%= t :product_dinec_txt %></p>
			
	 		<p><%= t :product_dinec_visit %> <%= link_to((t :official_site), "http://www.dinec.com/accueil.asp", :target => "_blank") %></p>
		</li>
		<li>
			<a name="urc"></a>
			<h2>URC</h2>
			<p><%= t :product_urc_txt %></p>
			
	 		<p><%= t :product_urc_visit %> <%= link_to((t :official_site), "http://www.universalremote.com/", :target => "_blank") %></p>
		</li>

     </ul>

	
</section>