<section class="generic_page">
	<h1><%= t :team %></h1>
	
	<br />	<br />	<br />
	<p class="left-align">
		<%= t :team_text_1 %>
	</p>
	<p class="left-align">
		<%= t :team_text_2 %>
	</p>
	<p class="left-align">
		<%= t :team_text_3 %>
	</p>
	
	<h1><%= t :team_contact_1 %></h1>
	<p class="left-align">
		Frédéric Brosseau <a href="mailto:fbrosseau@brosseauca">fbrosseau@brosseau.ca</a><br />
		Olivier Brosseau <a href="mailto:olivierbrosseau@brosseau.ca">olivierbrosseau@brosseau.ca</a><br />
		Sylvain Rivest <a href="mailto:srivest@brosseau.ca">srivest@brosseau.ca</a>
	</p>
	
	<h1><%= t :team_contact_2 %></h1>
	<p class="left-align">
		Philippe Lamarre <a href="mailto:philippelamarre@brosseau.ca">philippelamarre@brosseau.ca</a><br />
	</p>

	
</section>