<section class="generic_page">
	<h1><%= t :team %></h1>
	
	<br />	<br />	<br />
	<p class="left-align">
		<%= t :team_text_1 %>
	</p>
	<p class="left-align">
		<%= t :team_text_2 %>
	</p>
	<p class="left-align">
		<%= t :team_text_3 %>
	</p>
	
	<h1><%= t :team_contact_1 %></h1>
	<p class="left-align">
		Frédéric Brosseau <a href="mailto:frederic.brosseau@brosseau.ca">frederic.brosseau@brosseau.ca</a><br />
		Olivier Brosseau <a href="mailto:olivier.brosseau@brosseau.ca">olivier.brosseau@brosseau.ca</a><br />
		Sylvain Rivest <a href="mailto:sylvain.rivest@brosseau.ca">sylvain.rivest@brosseau.ca</a>
	</p>
	
	<h1><%= t :team_contact_2 %></h1>
	<p class="left-align">
		Philippe Lamarre <a href="mailto:philippe.lamarre@brosseau.ca">philippe.lamarre@brosseau.ca</a><br />
	</p>

	<h1><%= t :team_contact_3 %></h1>
	<p class="left-align">
		Yves Ménard <a href="mailto:yves.menard@brosseau.ca">yves.menard@brosseau.ca</a><br />
	</p>
	
</section>